* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eef4fa;
}

header {
  background-color: #007BFF;
  padding: 10px 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: #d1eaff;
}

.predict-section {
  max-width: 500px;
  background: white;
  padding: 30px;
  margin: 40px auto;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.predict-section h2 {
  text-align: center;
  margin-bottom: 25px;
  color:blueviolet;
}

form label {
  display: block;
  margin-bottom: 6px;
  color: #555;
}

form input,
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

form button {
  width: 100%;
  padding: 12px;
  background: #28a745;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

form button:hover {
  background: #218838;
}

.result {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  color: #007BFF;
}
